<% layout('/layouts/default.html', {title: 'echarts', libs: ['validate','fileupload']}){ %>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=reruRKIlIKCg9hGcaPwLDRWMtOgaO3gF"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>



<div class="main-content">
	<div class="box-header with-border">
		<div class="box-title">
			 <i class="fa fa-list-alt"></i> EchartB 数据信息
			 <!--<button type="button" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"><a href="${ctx}/org/orgInfo/list">${text('返回')}</a></i></button>-->
			 <button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('返回')}</button>
		</div>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>

	<div id="main" style="height:400%"></div>、

</div>
<% } %>

<script type="text/javascript">
			var doms = document.getElementById("main");
			var myChart = echarts.init(doms);

			option = {
				xAxis: {
					type: 'value'
				},
				yAxis: {
					type: 'value'
				},
				dataZoom: [
					{   // 这个dataZoom组件，默认控制x轴。
						type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
						start: 1,   // 左边在 10% 的位置。
						end: 35    // 右边在 60% 的位置。
					},
					{   // 这个dataZoom组件，也控制x轴。
						type:"inside", //这个dataZoom 组件是inside型dataZoom组件
						start:10,     // 左边在10%的位置
						end:60        // 右边在60%的位置

					}
				],
				series: [
					{
						name: 'scatter',
						type: 'scatter',
						itemStyle: {
							normal: {
								opacity: 0.8
							}
						},
						symbolSize: function (val) {
							return val[2] * 40;
						},
						data: [
								["14.616","7.241","0.896"],["3.958","5.701","0.955"],["2.768","8.971","0.669"],
								["9.051","9.710","0.171"],["14.046","4.182","0.536"],["12.295","1.429","0.962"],
								["4.417","8.167","0.113"],["0.492","4.771","0.785"],["7.632","2.605","0.645"],
								["14.242","5.042","0.368"]
						     ]
					}
				]
			}

			myChart.setOption(option, true);
</script>